
@font-face{
    src: url(fonts/Agbalumo-Regular.ttf);
    font-family:Agbalumo-Regular;
}
@font-face{
    src: url(fonts/Audrey/Audrey-Medium.otf);
    font-family:Audrey-Medium;
}
@font-face{
    src: url(fonts/Audrey/Audrey-Normal.otf);
    font-family:Audrey-Normal;
}
html {
    background-color: #f2f2f2;
    color: #0c0c0c;
    font-family:Audrey-Normal; 
}

/* *{
    box-sizing: border-box;
} */ 

header{
    font-family:Audrey-Normal; 
    text-align: center;
    position: sticky;
    top:0;
    left:0;
    background-color: #f2f2f2;;
}

.dropdown .projectcontent{
    box-shadow: 2px 2px 5px rgb(33, 33, 33); 
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 10px;
}

.dropdown:hover .projectcontent{
    display: block;
} 

.dropdown:hover p{
    color:#889A68;
    font-size: 1.1em;
    /* text-decoration: underline; */
    cursor:pointer;
}
.dropdown{
    display:inline-block;
}

.dropdown a{
    text-decoration: none;
    display: block;
    color: #241f19;
    padding: 5px 10px;
    /* position: absolute; */
}

.dropdown a:hover{
    color: #f7f2ed;
    font-size: 1.1em;
    background-color: #889A68;
    border-radius: 15px;
    padding: 8px 8px;
}

#tessa{
    font-size: 50px;
    margin-right: 375px;
    color: #545F57;
}

#inline>div
{
    display: inline-block;
    /* text-decoration: none;
    color: #241f19; */
    margin-inline: 8px;
    font-size: 20px
}

a:hover{    
    color:#889A68;
    font-size: 1.1em;
    text-decoration: underline;
}

a:visited { text-decoration: none;} 
a:link {
    color:#241f19;
    text-decoration: none;
}

a:active { 
    text-decoration: underline;
    color: #241f19;
    background-color: #889A68;
    border-radius: 15%;
    padding: 5% 5% 5% 5%;
}

#bear {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%; 
    box-shadow: 5px 5px 5px #241f19;
}

footer{
    margin-inline: 160px;
    display: inline-block;
    height: 50px;
    font-family:Audrey-Normal;
    font-size: 15px 
}

#mail {
    margin-left: 880px;
}

#nga {
    /* margin-left: auto;
    margin-right: auto; */
    width:50%;
    /* box-shadow: 5px 5px 5px #241f19; */
}
.about{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;

    /* text-align: center; */
    /* justify-content: center; */
}
.work{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.touch{
    flex:1;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.class{
    display: flex;
    align-items: center;
}
.maintext{
    /* display:flex; */
    display:block;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family:Audrey-Normal; 
    font-size: 20px;
    /* border: 2px solid; */
}


#creative{
    /* margin-left:1022px */
    text-align: center;
}
#bio{
    flex: 1;
    /* text-align: center; */
    font-size: 19px;
    margin-left: 100px;
}

#bio p{
    color: #736f63
}

#my-photo {
    flex: 1;
    text-align: center;
}

form{
    background-color: #e7d7c9;
    padding: 20px;
    border-radius: 20px;
}

label{
    text-align: left;
}

select{
    /* float: right; */
    margin-left: 110px;
}
    
th {
    background-color: #87816e;
    color: #e7d7c9;
}

tr{ 
    background-color: #e7d7c9;
    color: #241f19;
    text-align: center;
}

#reset{
    float: left;
    font-family:Agbalumo-Regular;
    color: #87816e;
}

#submit{
    float:right;
    font-family:Agbalumo-Regular;
    color: #87816e;
}

#bdate{
    /* float:right; */
    font-family:Agbalumo-Regular;
    color: #87816e;
    margin-left: 67px;
}

#email{
    /* float:right; */
    color: #87816e;
    margin-left: 32px;
}

#phone{
    color: #87816e;
    margin-left: 2px;
}

video{
    width: 1000px;
}

table{
    text-align: center;
    /* padding:20px; */
    /* display:block; */
    width: 600px;
}
.ra{
    display: flex;
} 
.ra-photo{
    flex:1;
    text-align: center;
}

.event-dis{
    flex:1;
    border: 2px solid;
    height: 80%;
    overflow: auto;
    margin-top: 0px;
    margin-right: 10px;
    padding: 2%;
    text-align:justify;
}

.ra-dis{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 40px;
}

#RA::first-letter{
    font-size: 2em;
    font-style: italic;
}

.event-dis::selection{
    color: #007700;
    background-color: black;
}
#Horror::before{
    content:"👻";
    padding-inline: 5px;
}

#Shopping::before{
    content:"🚲";
    padding-inline: 5px;
}
#Pot::before{
    content:"🪴";
    padding-inline: 5px;
}

aside{
    float:left;
    padding: 5%;
}

section{
    float:left;
    margin-right: 5%;
}

@media screen and (max-width: 500px){
    aside, section{
        width: 100%;
    }
}

